google-generativeai
pillow
pandas
opendatasets
chromadb
python-dotenv

gradio
ollama

faster-whisper
numpy
ollama
pydantic
gradio
# 2D plan -> 3D model pipeline
shapely
trimesh
scipy
mapbox_earcut
matplotlib
kaggle
pytest
fastapi
uvicorn

langgraph
langchain-core
groq
streamlit
requests
sentence-transformers

langchain-groq
langchain-google-genai

librosa
soundfile
pyannote.audio